
.AddFolder {
    color: #131200;
  }
  
  .AddFolder h2 {
    margin-left: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2A240F;
  }
  
  .lighter {
    color:red
  }
  
  .error-message{
    border:solid 2px red;
  }

