.Header {
    height: 40px;
    display: flex;
    align-items: normal;
    justify-content: space-between;
  }
  
  header h1 {
    background-color: #DBC1A9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-area: header;
    padding-left: 16px;
    padding-top: 32px;
  }
  
  .Header h1 a {
    text-decoration: none;
  }
  
  .Header a {
    color: #2A240F;
  }
  
  .Header__not-logged-in {
    display: flex;
    flex-direction: column;
  }
  
  .Header__not-logged-in .Hyph {
    display: none;
  }
  
  @media screen and (min-width: 450px) {
    .Header {
      align-items: baseline;
    }
    .Header h1 {
      font-size: 28pt;
    }
  
    .Header__not-logged-in {
      flex-direction: row;
    }
  
    .Header__not-logged-in .Hyph {
      display: initial;
    }
  }
  