
.Book {
  box-shadow: 0px 10px 14px -7px #40351E;
	background:linear-gradient(to bottom, #3B311B 5%, #40351E 100%);
	background-color:#AF8A68;
	border-radius:4px;
	border:1px solid #40351E;
	display:inline-block;
	cursor:pointer;
	color:#cacaca;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
  text-shadow:0px 1px 0px #131200;
  width: 300px;
  margin: 5px 0 5px 0;
  }
  
  .Book_name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0;
    max-width: 80%;
    min-height: 24px;
  }
  .Book_name a {
    color: #cacaca;
    display: block;
    text-decoration: none;
  }
  .Book_name a:hover {
    color: white;
  }

  