.generic-form {
    background-color: #DBC1A9;
    color: #131200;
    padding: 16px;
    max-width: 332px;
  }
  
  .generic-form label {
    display: block;
    font-size: 16px;
    padding-bottom: 8px;
    font-family: 'Times New Roman', Times, serif;
    color: #2A240F;
  }
  
  .generic-form input,
  .generic-form textarea,
  .generic-form select {
    font-size: 14px;
    padding: 8px;
    width: 300px;
  }
  
  .generic-form select {
    height: 33px;
  }
  
  .generic-form > .field {
    margin-bottom: 16px;
  }
  .generic-form > .buttons {
    margin-top: 26px;
  }
  
  .generic-form button {
    box-shadow: 0px 10px 14px -7px #40351E;
    background:linear-gradient(to bottom, #3B311B 5%, #40351E 100%);
    background-color:#AF8A68;
    border-radius:4px;
    border:1px solid #40351E;
    display:inline-block;
    cursor:pointer;
    color:#cacaca;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #131200;
    width: 300px;
    margin: 5px 0 5px 0;
    text-align: center;
  }
  .generic-form button[type="submit"]:hover {
    background-color: #29862e;
    color: white;
  }
  