
.App {
  font-family: 'Times New Roman', Times, serif;
  display: grid;
  grid-template-areas: "sidebar header" "sidebar main";
  grid-template-columns: 1fr 2.3fr;
  grid-template-rows: 120px 1fr;
  min-height: 100vh;
}

.App__header {
  padding-left: 20px;
  padding-right: 20px;
}

.App__main {
  background-color: #DBC1A9;
  grid-area: main;
  height: calc(100vh - 120px);
  overflow: auto;
}
